.panda-bg-info {
  background-color: #fbeae8 !important;
}

.panda-btn-warning {
  background-color: #e9457a !important;
  color: #fff !important;
}

.Price {
  color: #e9457a;
}

.color-btn-light {
  color: #fff;
  background-color: #e9457a !important;
}
